Flask==1.1.1
Flask-Script==2.0.6
Flask-Testing==0.7.1
Flask-APScheduler==1.11.0
gunicorn==19.9.0
eventlet==0.31.0
pymssql==2.1.4
prometheus_client==0.7.1
python-json-logger==0.1.11
pytest==5.2.2
pytest-cov==2.8.1
flake8==3.7.9
